/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */

* {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 75%;
    margin: auto;
}

a {
    text-decoration: none;
}

.padding {
    padding: 40px 0 0 0 ;
}
ul {
    list-style-type: none;
}

.flex-container {
    display: flex;
}

.center-object{
    justify-content: center;
    align-items: center;
}

.wave{
    height: 4rem;
    justify-content: stretch;
    align-items:stretch ;
    width: 100%;
    fill: #dfdfdf;
}

.wave-rotate{
    transform: rotate(180deg);
    height: 4rem;
    justify-content: stretch;
    align-items:stretch ;
    width: 100%;
    fill: #dfdfdf;
}

/* HEADER */
.header-top {
    background-color: #255ee9;
    padding: 0.85rem;
}

/* NAV */

.nav {
    font-size: 0.9rem;
    align-items: center;
}

.link-section {
    flex-grow: 1;
}

.link {
    justify-content: center;
}

li {
    padding: 0 1rem;
}

li > a {
    color: white;
}

.logo, 
.login {
    width: 20%;
}

.login {
    justify-content: flex-end;
}

.login-text {
    background-color: white;
    width: fit-content;
    padding: 0.6rem 1rem;
    border-radius: 1.3rem;
    color: black;
}

/* HERO */


.hero {
    position: absolute;
    width: 70%;
    text-align: center;
    color: white;
}

.hero-title {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
}

.hero-text {
    padding: 0.3rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.hero-button {
    margin-top: 2rem;
    justify-content: center;
    gap: 2rem;

}
.mac-download {
    font-size: 1.5rem;
    color: black;
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

.open-browser {
    align-self: center;
    font-size: 1.5rem;
    color: white;
    background-color: #23272a;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
}

/* MAIN */
.section-2, .section-4 {
    background-color: #dfdfdf;
} 

.article {
    padding-bottom: 3rem;
}

.article-image {
    width: 65%;
}

.article-text {
    width: 35%;
}

.article-title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.article-subtext {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/* section 4 */
.article-text-4 {
    text-align: center;
}

.article-image-4 {
    width: 100%;
}
.ready {
    margin-top: 3rem;
    text-align: center;
}

.text-ready {
    font-size: 1.8rem;
    position: absolute;
}
.section4-button {
    padding: 3rem 0;
    justify-content: center;
}
.mac-download-4 {
    font-size: 1.5rem;
    color: white;
    background-color: #7289da;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

/* FOOTER */
footer {
    padding: 2rem 0;
    background-color: #23272a;
}

.footer-top {
    padding: 1.5rem 0;
}

/* social and language */
.footer-social {
    width: 25%;
    padding-right: 2rem;
}
.social-title {
    font-size: 1.8rem;
    color: #7189da;
    margin-bottom: 1.5rem;
}
.language {
    color: white;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.flag {
    width: 1.3rem;
}

.social-icon {
    color: white;
    width: 40%;
    justify-content: space-between;
}
 /* footer info */

.footer-info {
    width: calc(75% / 4);
}

.footer-info-title {
    color: #7189da;
    font-size: 1.1rem;
}

.footer-link {
    color: white;
    font-size: 1.1rem;
    line-height: 3rem;
}

.footer-bottom {
    padding-top: 2rem;
}

.footer-nav {
    padding-top: 1rem;
    border-top: 0.1rem solid #445074; 
    align-items: flex-start;
    justify-content: space-between;
}

.footer-signin {
    font-size: 0.7rem;
    background-color: #7289da;
    width: fit-content;
    padding: 0.6rem 1rem;
    border-radius: 1.3rem;
    color: white;
}


