/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* ROOT */
:root {
    --bgcolor-footer:#23272a;
    --bgcolor-footer2:#ffb6c1;
}

/* COMMON */

* {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 75%;
    margin: auto;
}

a {
    text-decoration: none;
}

.padding {
    padding: 40px 0;
}
ul {
    list-style-type: none;
}

.flex-container {
    display: flex;
}

.center-object{
    justify-content: center;
    align-items: center;
}

/* HEADER */

.header-top {
    background-color: #255ee9;
    padding: 0.85rem;
}

/* NAV */

.nav {
    font-size: 0.9rem;
    align-items: center;
}

.link-section {
    flex-grow: 1;
}

.link {
    justify-content: center;
    padding: 10px 10px ;
}

li {
    padding: 0 1.5rem;
}

li > a {
    color: white;
}

.logo, 
.login {
    width: 20%;
    padding: 10px 10px;
}

.login {
    justify-content: flex-end;
}

.login-text {
    background-color: white;
    width: fit-content;
    padding: 0.6rem 1rem;
    border-radius: 1.3rem;
    color: black;
}

/* HERO */


.hero {
    position: absolute;
    width: 70%;
    text-align: center;
    color: white;
}

.hero-title {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
}

.hero-text {
    padding: 0.3rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.hero-button {
    margin-top: 2rem;
    justify-content: center;
    gap: 2rem;

}
.mac-download {
    font-size: 1.5rem;
    color: black;
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

.open-browser {
    align-self: center;
    font-size: 1.5rem;
    color: white;
    background-color: #23272a;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
}

/* MAIN */
.section-2, .section-4 {
    background-color: #d3d3d3;
}

.article-image {
    width: 65%;
}

.article-text {
    width: 35%;
}

.article-title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.article-subtext {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/* section 4 */
.article-text-4{
    text-align: center;
}

.article-image-4{
    width: 100%;
}
.ready {
    margin-top: 3rem;
    text-align: center;
}

.text-ready {
    font-size: 1.8rem;
    position: absolute;
}
.section4-button {
    margin: 3rem 0;
    justify-content: center;
}
.mac-download-4 {
    font-size: 1.5rem;
    color: white;
    background-color: #7289da;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

/* FOOTER */

.footer-top {
    background-color: var(--bgcolor-footer);
    padding: 10px 0 40px;
}

.footer-wrapper {
    height: 600px;
}

.footer-image {
    width: 28%;
    background-color: #f08080;
}

.footer-info {
    width: 18%;
    background-color: #20b2aa;
}

.hr-2 {
    border: 2px solid #d6d6d6;
}

.footer-bottom {
    background-color: var(--bgcolor-footer);
    padding-top: 40px;
}

.footer-nav{
    background-color: #7fffd4;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
 
.footer-logo, .footer-button {
    padding: 5px;
    background-color: var(--bgcolor-footer2);
}

